<mat-drawer-container [autosize]="true" [hasBackdrop]="breakpointService.handset$()">
  <mat-drawer #drawer [mode]="breakpointService.handset$() ? 'over' : 'side'" [opened]="!breakpointService.handset$()" [autoFocus]="false">
    <app-color-picker />
    <mat-divider />
  </mat-drawer>
  <mat-drawer-content>
    <button class="floating-menu-button" mat-mini-fab (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
